.experiences__title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: var(--color-gray);
    text-align: center;
}
.experience__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.experience__box img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 20px 0px #dcdcdc52;
}
.experience__info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.experience__name {
    font-size: 1.8rem;
    color: var(--color-gray);
}
.experience__description {
    font-size: 1.6rem;
    color: var(--color-gray);
}
.experience__links a {
    display: inline-block;
    font-size: 1.5rem;
    padding: 12px 20px;
    background: none;
    color: var(--color-royal-blue);
    border: 1px solid var(--color-royal-blue);
    border-radius: 4px;
    text-decoration: none;
}
#experience__repo {
    margin-right: 10px;
}
#experience__live {
    background: var(--color-royal-blue);
    color: white;
}